<h2>{{ title }}</h2>
<table class="table table-striped">
    <thead class="thead-blue">
        <tr>
            <th>Demandeur</th>
            <th>Date Demande</th>
            <th>Usename</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Role</th>
            <th>Unite</th>
            <th>Forme par</th>
            <th>Statut Demande</th>
            <th>Cree par</th>
            <th>Cree le</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of comptes">
            <td>
                {{ item.demandeur }}
            </td>
            <td>
                {{ item.date_demande }}
            </td>
            <td>
                {{ item.username }}
            </td>
            <td>
                {{ item.firstname }}
            </td>
            <td>
                {{ item.lastname }}
            </td>
            <td>
                {{ item.Role.description }}
            </td>
            <td>
                {{ item.Unite.description }}
            </td>
            <td>
                {{ item.forme_par }}
            </td>
            <td>
                {{ item.Status.name }}
            </td>
            <td>
                {{ item.cree_par }}
            </td>
            <td>
                {{ item.cree_le }}
            </td>
            <td>
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle></a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a ngbDropdownItem [routerLink]="['/compte/edit', item.Id]">Edit</a>
                        <button ngbDropdownItem (click)="delete(item.Id)">Delete</button>
                        <button ngbDropdownItem [routerLink]="['/compte/edit', item.Id, 'approuver']">Approuver</button>
                        <button ngbDropdownItem (click)="annuler(item.Id)">Annuler</button>
                        <button ngbDropdownItem (click)="rejeter(item.Id)">Rejeter</button>
                      </div>
                    </div>
                  </div>
            </td>
        </tr>
    </tbody>
</table>
