<div class="offset-md-2 col-md-8">
    <div class="card">
        <div class="card-header">
            <h1 style="text-align: center; color: white;"><strong>{{ title }}</strong></h1>
        </div>
        <div class="card-body">
            <form #f="ngForm" [formGroup]="form" (ngSubmit)="save()">
                <div class="form-group">
                    <label for="Application"><strong>Application</strong></label>
                    <select formControlName="application" name="application" [(ngModel)]="ajoutModule.application" id="application" class="form-control">
                        <option value=""></option>
                        <option *ngFor="let a of applications" [value]="a.name">
                            {{ a.description }}
                        </option>
                    </select>
                    <div *ngIf="form.get('application').touched && form.get('application').invalid" class="alert alert-danger">
                        Le champ application est obligatoire
                    </div>
                </div>

                <div class="form-group">
                    <label for="Sommaire"><strong>Sommaire</strong></label>
                    <textarea formControlName="sommaire" id="Sommaire" cols="30" rows="10"
                         [(ngModel)]="ajoutModule.sommaire" class="form-control"
                        required>

                    </textarea>
                    <div *ngIf="form.get('sommaire').touched && form.get('sommaire').invalid"
                        class="alert alert-danger">
                        Le champ Sommaire est obligatoire
                    </div>
                </div>

                <div class="form-group">
                    <label for="status"><strong>Statut</strong></label>
                    <select formControlName="status" name="status" [(ngModel)]="ajoutModule.status" id="status"
                        class="form-control" id="status" required>
                        <option value=""></option>
                        <option *ngFor="let s of statuts" [value]="s.code">
                            {{ s.name }}
                        </option>
                    </select>

                </div>

                <button class="btn btn-primary"><strong>Sauvegarder</strong></button>
            </form>
        </div>

    </div>
</div>